<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pearl Jam🎵</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="header">
      <nav id="nav-bar">
        <a id="page-logo" href="home">Pearl Jam 🎵</a>
        <ul id="nav-links">
          <li><a href="about">About</a></li>
          <li><a href="works">Works</a></li>
          <li><a href="photogallery">Gallery</a></li>
        </ul>
      </nav>
    </div>
    <div id="splash">
      <img
        id="splash-img"
        src="/images/ie6xu6fx6o0tzvg1y2bk.jpeg"
        alt="PearlJam concert"
      />
      <h1>Welcome to the Pearl Jam Unofficial Website</h1>
    </div>
  </body>
</html>
