<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="header">
      <nav id="nav-bar">
        <a id="page-logo" href="home">Pearl Jam 🎵</a>
        <ul id="nav-links">
          <li><a href="about">About</a></li>
          <li><a href="works">Works</a></li>
          <li><a href="photogallery">Gallery</a></li>
        </ul>
      </nav>
    </div>
    <section id="poster-gallery">
      <div class="poster">
        <img src="/images/poster-mex.png" alt="Mexico poster" />
        <p>Mexico City 28.11.2015</p>
      </div>
      <div class="poster">
        <img src="/images/portugal-poster.jpeg" alt="Portugal poster" />
        <p>Lisbon 23.05.2000</p>
      </div>
      <div class="poster">
        <img src="/images/amsterdam-poster.jpeg" alt="Netherlands poster" />
        <p>Amsterdam 26.06.2012</p>
      </div>
    </section>
  </body>
</html>
