<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="header">
      <nav id="nav-bar">
        <a id="page-logo" href="home">Pearl Jam 🎵</a>
        <ul id="nav-links">
          <li><a href="about">About</a></li>
          <li><a href="works">Works</a></li>
          <li><a href="photogallery">Gallery</a></li>
        </ul>
      </nav>
    </div>
    <section id="discography">
      <span class="album">
        <h1>Ten</h1>
        <img src="/images/ten.jpg" alt="Ten album cover" />
        <p>1991</p>
      </span>
      <span class="album">
        <h1>Vs.</h1>
        <img src="/images/PearlJam-Vs.jpg" alt="VS album cover" />
        <p>1993</p>
      </span>
      <span class="album">
        <h1>Vitalogy</h1>
        <img src="/images/PearlJamVitalogy.jpg" alt="Vitalogy album cover" />
        <p>1994</p>
      </span>
      <span class="album">
        <h1>No Code</h1>
        <img src="/images/PearlJam-NoCode.jpg" alt="No Code album cover" />
        <p>1996</p>
      </span>
      <span class="album">
        <h1>Yield</h1>
        <img
          src="/images/Yield_(Pearl_Jam_album_-_cover_art).jpg"
          alt="Yield album cover"
        />
        <p>1998</p>
      </span>
      <span class="album">
        <h1>Binaural</h1>
        <img src="/images/PearlJam-Binaural.jpg" alt="Binaural album cover" />
        <p>2000</p>
      </span>
      <span class="album">
        <h1>Riot Act</h1>
        <img src="/images/PearlJam-RiotAct.jpg" alt="Riot Act album cover" />
        <p>2002</p>
      </span>
      <span class="album">
        <h1>Pearl Jam</h1>
        <img src="/images/PearlJam1.jpg" alt="Pearl Jam album cover" />
        <p>2006</p>
      </span>
      <span class="album">
        <h1>Backspacer</h1>
        <img
          src="/images/Pearl_jam_backspacer.jpg"
          alt="Backspacer album cover"
        />
        <p>2009</p>
      </span>
      <span class="album">
        <h1>Lightning Bolt</h1>
        <img
          src="/images/Pearl_Jam_Lightning_Bolt.jpg"
          alt="Lightning Bolt album cover"
        />
        <p>2013</p>
      </span>
      <span class="album">
        <h1>Gigaton</h1>
        <img src="/images/Pearl_Jam_-_Gigaton.png" alt="Gigaton album cover" />
        <p>2020</p>
      </span>
    </section>
  </body>
</html>
